swagger: '2.0'
info:
  version: 0.0.1
  title: Chatie API Specification
  description: |
    Chatie Open API Specification(f.k.a. Swagger)

  termsOfService: https://www.chatie.io/tos
  contact:
    name: Chatie Dev Team
    url: http://github.com/Chatie/
    email: dev@chatie.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

# all paths will be relative to the basePath specified
basePath: /v0
host: api.chatie.io
externalDocs:
  url: https://api.chatie.io/docs

consumes:
  - application/json
produces:
  - application/json

schemes:
  - https
  - http

tags:
  - name: Hostie
    description: Hostie Operations
  - name: Botie
    description: Botie Operations

paths:
  /boties:
    get:
      tags: [Botie]
      summary: List Boties
      operationId: getBoties
      description: |
        Get all available `Boties` in the system for current user.
      responses:
        200:
          description: return all `Boties[]` as `Array`
          schema:
            type: array
            items:
              $ref: '#/definitions/Botie'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'

  /hosties:
    get:
      tags: [Hostie]
      summary: List Hosties
      operationId: getHosties
      description: |
        Get all available `Hosties` in the system for current user.
      responses:
        200:
          description: return all `Hosties[]` as `Array`
          schema:
            type: array
            items:
              $ref: '#/definitions/Hostie'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'
    post:
      tags: [Hostie]
      summary: Create new Hostie
      operationId: postHostie
      description: Create an new `Hostie` for current user
      parameters:
        - name: newHostie
          in: body
          schema:
            $ref: '#/definitions/Hostie'
      responses:
        201:
          description: |
            `Hostie` created
          schema:
            $ref: '#/definitions/Hostie'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'
  /hosties/{id}:
    parameters:
      - in: path
        name: id
        type: string
        format: uuid
        description: >
          `id` of `Hostie`
        required: true
    get:
      tags: [Hostie]
      description: Returns a `Hostie` based on `id`
      operationId: getHostie
      responses:
        '200':
          description: hostie response
          schema:
            $ref: '#/definitions/Hostie'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'
    delete:
      tags: [Hostie]
      description: Delete a `Hostie` by `id`
      operationId: deleteHostie
      responses:
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'
    patch:
      tags: [Hostie]
      description: Update a Hostie
      operationId: patchHostie
      parameters:
        - in: body
          name: newHostie
          schema:
            $ref: '#/definitions/Hostie'
      responses:
      
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'

definitions:
  Botie:
    type: object
    properties:
      id:
        type: string
        format: uuid
      name:
        type: string
        example: My Botie Name
  Hostie:
    type: object
    properties:
      id:
        type: string
        format: uuid
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      name:
        type: string
        example: My Hostie Name
      note: 
        type: string
        example: note is just a memo.
      token:
        type: string
        format: uuid
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      createTime:
        type: integer
        format: int64
        example: 4124324312
      updateTime:
        type: integer
        format: int64
        example: 4124324312
      status:
        $ref: '#/definitions/HostieStatus'
  HostieStatus:
    description: status of a hostie
    type: string
    enum:
      - Offline
      - Online
  ApiError:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string