swagger: '2.0'
info:
  version: 0.0.1
  title: Chatie API
  description: Chatie OpenAPI Specification(f.k.a. Swagger)
  termsOfService: https://www.chatie.io/tos
  contact:
    name: Chatie Dev Team
    url: http://github.com/Chatie/
    email: dev@chatie.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

# all paths will be relative to the basePath specified
basePath: /v0/
host: api.chatie.io
externalDocs:
  url: https://api.chatie.io/v0/

consumes:
  - application/json
produces:
  - application/json

schemes:
  - https
  - http

paths:
  /hosties:
    get:
      summary: List Hosties
      operationId: listHosties
      description: >
        Get all available `Hosties` in the system for current user.
      responses:
        200:
          description: return all `Hosties[]` as `Array`
          schema:
            type: array
            items:
              $ref: '#/definitions/Hostie'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'
    post:
      summary: Create new Hostie
      operationId: createHostie
      description: Create an new `Hostie` for current user
      parameters:
        - in: query
          name: name
          type: string
        - in: query
          name: note
          type: string
      responses:
        201:
          description: >
            `Hostie` created
          schema:
            $ref: '#/definitions/Hostie'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'
  /hosties/{id}:
    get:
      description: Returns a `Hostie` based on `id`
      operationId: getHostie
      parameters:
        - name: id
          in: path
          description: >
            `id` of hostie to fetch
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: hostie response
          schema:
            $ref: '#/definitions/Hostie'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'
    delete:
      description: Delete a `Hostie` by `id`
      operationId: deleteHostie
      parameters:
        - in: path
          name: id
          type: string
          format: uuid
          description: >
            `id` of `Hostie` to delete
          required: true
      responses:
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ApiError'

  /hosties/{id}/note/{note}:
    put:
      description: set note for a hostie
      operationId: setHostieNote
      parameters:
        - in: path
          name: id
          type: string
          format: uuid
          required: true
          description: hostie id
        - in: path
          name: note
          type: string
          required: true
          description: hostie note
      responses:
        200:
          description: success
        default:
          description: unexpected error
  /hosties/{id}/name/{name}:
    put:
      description: set name for a hostie
      operationId: setHostieName
      parameters:
        - in: path
          name: id
          type: string
          format: uuid
          required: true
          description: hostie id
        - in: path
          name: name
          type: string
          required: true
          description: hostie name
      responses:
        200:
          description: success
        default:
          description: unexpected error
definitions:
  Hostie:
    type: object
    required:
      - id
      - name
      - token
      - createTime
    properties:
      id:
        type: string
        format: uuid
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      name:
        type: string
        example: Widget Adapter
      note: 
        type: string
        example: note is just a memo.
      token:
        type: string
        format: uuid
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      createTime:
        type: number
        format: int64
        example: 4124324312
      updateTime:
        type: number
        format: int64
      status:
        $ref: '#/definitions/HostieStatus'
  HostieStatus:
    type: string
    enum:
      - Offline
      - Online
  ApiError:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string